.banner{
  background: url('@/pages/scale/scalesrc/img/banner1.webp') rgba(0, 0, 0, .5) no-repeat center center;
  background-size:cover;
  height: 500px;  
  background-blend-mode: multiply;
  display: grid;
}
.main{
  padding-top: 140px;
}

.banner h1{
  font-size: 38px;
  font-weight: 300;
  line-height: 1;
  padding: 25px 10px 35px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  max-width: 980px;
  /* margin: 0 auto 40px; */
  align-self: center;
  justify-self: center;
}
.content1{
  padding: 100px 140px;
  margin: 0 auto;
}
.row1{
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.row1 h2{
  font-family: Effra,Helvetica,Arial,sans-serif;
  padding: 25px 10px 35px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  margin: 0 0 40px;
}
.row1 p{
  color: #000;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  font-family: "adobe-caslon-pro",Georgia,serif;
  line-height: 1.4;
  padding: 0;
  min-height: 0;
  background: none;
  font-size: 20px;
  margin: 0 0 40px;
}
.row2{
  width: 100%;
  float: left;
  text-align: center;
}
.col{
  width: 33.33333333%;
  padding: 0 20px;
  float: left;
}
.col .fgb-sad-smile-ico{
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  background-image: url('@/pages/scale/scalesrc/img/font.png')!important;
  background-position: -749px 0;
  width: 44px;
}
.col .fgb-sad2-smile-ico{
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  background-image: url('@/pages/scale/scalesrc/img/font.png')!important;
  background-position: -56px 0;
  width: 44px;
}
.col .fgb-note-smile-ico{
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  background-image: url('@/pages/scale/scalesrc/img/font.png')!important;
  background-position: -793px 0;
  width: 44px;
}
.sub_header {
  font-family: "adobe-caslon-pro",Georgia,serif;
  font-size: 22px;
  color: #000;
  font-style: italic;
  text-align: center;
  background: none;
  font-weight: 300;
  margin: 25px 0 20px;
  line-height: 1.4;
  padding: 0;
}
.text_descr{
  font-family: "adobe-caslon-pro",Georgia,serif;
  font-size: 16px;
  color: #666;
  margin: 15px 0 0;
  line-height: 22px;  
}
.row3{
  font-family: Effra,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  margin: 300px auto 0;
}
.row3 p{
  font-family: "adobe-caslon-pro",Georgia,serif;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  margin: 0 0 30px;
}
.row3 span{
  font-family: Effra,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 26px;
  margin: 0 0 30px;
}
.banner2{
  max-height: 500px;
  overflow: hidden;
}
.banner2 img{
  width: 100%;
  height: auto;
  display: inline;  
}
.content2{
  padding: 100px 140px;
  margin: 0 auto;
}
.intro h2{
  font-family: Effra,Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 25px 10px 35px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
  line-height: 38px;
  margin: 0 0 40px;
}
.intro .main_block{
  margin: 0 0 15px;
  font-family: "adobe-caslon-pro",Georgia,serif;
  color: #000;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
  padding: 0;
  min-height: 0;
  background: none;
  font-size: 20px;
}
.main_block_sub_h {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin: 0 0 5px;
  line-height: 1.4;
  padding: 0;
  min-height: 0;
  background: none;
  font-size: 20px;
  margin: 0 0 40px;
  font-family: "adobe-caslon-pro",Georgia,serif;
}
.items{
  padding: 100px 140px;
  margin: 0 auto;
}

.title{
  border-top: 3px solid rgba(80,50,22,.3);
}
.title span{
  font-size: 20px;
  color: #666;
  font-weight: 20px;
}
.col1{
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 23px;
  box-shadow: 1px 1px 7px 0 rgb(0 0 0 / 20%);
  width: 30%;
  float: left;
}
header{
  font-size: .85em;
  background-color: #503216;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff9ef;
  padding: 9px 0 7px 11px;
}
.addr{
  background-color: #f2f2f2;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
img{
  width: 100%;
  height: 200px;
  vertical-align: middle;
}
.property-address {
  /* float: left; */
  font-size: .85em;
  padding: 8px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}
.property-address span{
  color: #d14d13;
}
.btn{
  display: block;
  background-color: #fff;
  text-align: center;
  font-size: 1.16em;
  font-weight: 700;
  padding: 8px 0;
  cursor: pointer;
  color: #503216;
  /* clear: both; */
}
.phone{
  background-color: #f0efed;
  display: block;
  border-top: 1px solid #dcdbd9;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  padding: 3px 0;
  color: #d14d13;
}
.phone img{
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
.main hr{
  color: #503216;
  /* margin: 30px 100px; */
  border-top: 1px solid rgba(80,50,22,.3);
}
.pay{
  margin-left: 850px;
}
.date{
  width: 100px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  /* outline: 5px solid #000; */
  text-align: center;
  background-color: #c0c0c0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin: 30px 10px;
  vertical-align: middle;
}
.date:hover{
  background-color: pink;
}
.date:focus{
  background-color: pink;

}
.time{
  margin: 20px 15px;
}
.price .one{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
}
.price .two{
  vertical-align: middle;
  color: #FF0036;
  font-size: 25px;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin-bottom: 3px;
}
.pay{
  margin-top: 20px;
}
.pay button{
  appearance: none;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 20px;
  text-align: center;
  border: 1px solid #c90c0f;
  cursor: pointer;
  margin: 20px 15px;
}
.pay button:hover{
  outline: none;
  background: #c90c0f;
  color: #fff;
}
.choice2,
.choice3{
  display: none;
}
.frame{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
  opacity: 0.8;
  background-color: #878787;
  border: 2px solid #fff;
  box-shadow: 0 0 25px #878787;
  font-size: 18px;
  display: none;
}
.frame div{
  margin: 20px 5px;

}
.yes{
  width: 30%;
  margin: 0 20px;
}
.no{
  width: 30%;
  margin: 0 20px;
}
.yes1{
  width: 30%;
  margin: 0 25px;
}
.no1{
  width: 30%;
  margin: 0 25px;
}