@import './normalize.css';
body {
  padding : 0;
  margin : 0;
  font-family: 'Microsoft YaHei','微软雅黑',SimSun,'宋体','Lucida Grande', Tahoma,Arial, Helvetica, sans-serif;
}
html, body, input {
  font-size: 14px;
  color: #323232;
}
.clearfix::after{
  content:'';
  display: block;
  clear: both;
}